# Node.js modules
node_modules/

# Logs
*.log

# Environment files
.env
Infidea_CRM_Backend.env

# Dependency directories
/dist
/build

# Operating system files
.DS_Store

# IDE configurations
.vscode/
.idea/
